
<!DOCTYPE html>
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6 {  margin: 0;  padding: 0;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div>
      <link href="./homepagezoom1.css" rel="stylesheet" />

      <div class="homepagezoom1-container">
        <div class="homepagezoom1-homepagezoom1">
          <div class="homepagezoom1-map">
            <img
              src="public/playground_assets/mapsiclemap3378-ja9i-4300h.png"
              alt="MapsicleMap3378"
              class="homepagezoom1-mapsicle-map"
            />
            <div class="homepagezoom1-iconbus">
              <img
                src="public/playground_assets/ellipse1i337-4we7-200h.png"
                alt="Ellipse1I337"
                class="homepagezoom1-ellipse1"
              />
              <div class="homepagezoom1-frameicontravelbus">
                <img
                  src="public/playground_assets/vectori337-f7v.svg"
                  alt="VectorI337"
                  class="homepagezoom1-vector"
                />
              </div>
            </div>
            <div class="homepagezoom1-iconbus1">
              <img
                src="public/playground_assets/ellipse1i337-gws-200h.png"
                alt="Ellipse1I337"
                class="homepagezoom1-ellipse101"
              />
              <div class="homepagezoom1-frameicontravelbus1">
                <img
                  src="public/playground_assets/vectori337-pqhw.svg"
                  alt="VectorI337"
                  class="homepagezoom1-vector01"
                />
              </div>
            </div>
            <div class="homepagezoom1-iconbus2">
              <img
                src="public/playground_assets/ellipse1i337-izt-200h.png"
                alt="Ellipse1I337"
                class="homepagezoom1-ellipse102"
              />
              <div class="homepagezoom1-frameicontravelbus2">
                <img
                  src="public/playground_assets/vectori337-9br4.svg"
                  alt="VectorI337"
                  class="homepagezoom1-vector02"
                />
              </div>
            </div>
            <div class="homepagezoom1-iconbloodcentral">
              <img
                src="public/playground_assets/ellipse1i337-mucd-200w.png"
                alt="Ellipse1I337"
                class="homepagezoom1-ellipse103"
              />
              <div class="homepagezoom1-frameicondropletoutline">
                <img
                  src="public/playground_assets/vectori337-il9a.svg"
                  alt="VectorI337"
                  class="homepagezoom1-vector03"
                />
              </div>
            </div>
            <div class="homepagezoom1-iconbus3">
              <img
                src="public/playground_assets/ellipse1i337-if8-200h.png"
                alt="Ellipse1I337"
                class="homepagezoom1-ellipse104"
              />
              <div class="homepagezoom1-frameicontravelbus3">
                <img
                  src="public/playground_assets/vectori337-jvrw.svg"
                  alt="VectorI337"
                  class="homepagezoom1-vector04"
                />
              </div>
            </div>
          </div>
          <div class="homepagezoom1-listofplaces">
            <img
              src="public/playground_assets/rectangle2i337-c2r-500w.png"
              alt="Rectangle2I337"
              class="homepagezoom1-rectangle2"
            />
            <div class="homepagezoom1-searchbar">
              <img
                src="public/playground_assets/rectangle1i337-yp1s-200h.png"
                alt="Rectangle1I337"
                class="homepagezoom1-rectangle1"
              />
              <span class="homepagezoom1-text">
                <span>Enter your position.</span>
              </span>
              <img
                src="public/playground_assets/rectangle2i337-xnud-200h.png"
                alt="Rectangle2I337"
                class="homepagezoom1-rectangle21"
              />
              <span class="homepagezoom1-text02"><span>Sök</span></span>
              <img
                src="public/playground_assets/vectori337-aa2.svg"
                alt="VectorI337"
                class="homepagezoom1-vector05"
              />
              <img
                src="public/playground_assets/vectori337-kze8.svg"
                alt="VectorI337"
                class="homepagezoom1-vector06"
              />
            </div>
            <div class="homepagezoom1-positionitem">
              <img
                src="public/playground_assets/framei337-2pgn-200h.png"
                alt="FrameI337"
                class="homepagezoom1-frame"
              />
              <span class="homepagezoom1-text04">
                <span>GeBlod, Nordstan</span>
              </span>
              <span class="homepagezoom1-text06"><span>2,3 km</span></span>
              <div class="homepagezoom1-icon-bloodcentral1">
                <img
                  src="public/playground_assets/ellipse1i337-4tx2-200h.png"
                  alt="Ellipse1I337"
                  class="homepagezoom1-ellipse105"
                />
                <div class="homepagezoom1-frameicondropletoutline1">
                  <img
                    src="public/playground_assets/vectori337-ogfn.svg"
                    alt="VectorI337"
                    class="homepagezoom1-vector07"
                  />
                </div>
              </div>
              <span class="homepagezoom1-text08">
                <span>Open 07:30 - 17:00</span>
              </span>
            </div>
            <div class="homepagezoom1-positionitem1">
              <img
                src="public/playground_assets/framei337-zlks-200h.png"
                alt="FrameI337"
                class="homepagezoom1-frame1"
              />
              <span class="homepagezoom1-text10">
                <span>GeBlod, Nordstan</span>
              </span>
              <span class="homepagezoom1-text12"><span>2,3 km</span></span>
              <div class="homepagezoom1-icon-bloodcentral2">
                <img
                  src="public/playground_assets/ellipse1i337-rjpn-200h.png"
                  alt="Ellipse1I337"
                  class="homepagezoom1-ellipse106"
                />
                <div class="homepagezoom1-frameicondropletoutline2">
                  <img
                    src="public/playground_assets/vectori337-kdl.svg"
                    alt="VectorI337"
                    class="homepagezoom1-vector08"
                  />
                </div>
              </div>
              <span class="homepagezoom1-text14">
                <span>Open 07:30 - 17:00</span>
              </span>
            </div>
            <div class="homepagezoom1-positionitem2">
              <img
                src="public/playground_assets/framei337-8sik-200h.png"
                alt="FrameI337"
                class="homepagezoom1-frame2"
              />
              <span class="homepagezoom1-text16">
                <span>GeBlod, Nordstan</span>
              </span>
              <span class="homepagezoom1-text18"><span>2,3 km</span></span>
              <div class="homepagezoom1-icon-bloodcentral3">
                <img
                  src="public/playground_assets/ellipse1i337-z71-200h.png"
                  alt="Ellipse1I337"
                  class="homepagezoom1-ellipse107"
                />
                <div class="homepagezoom1-frameicondropletoutline3">
                  <img
                    src="public/playground_assets/vectori337-uje.svg"
                    alt="VectorI337"
                    class="homepagezoom1-vector09"
                  />
                </div>
              </div>
              <span class="homepagezoom1-text20">
                <span>Open 07:30 - 17:00</span>
              </span>
            </div>
            <div class="homepagezoom1-positionitem3">
              <img
                src="public/playground_assets/framei337-uran-200h.png"
                alt="FrameI337"
                class="homepagezoom1-frame3"
              />
              <span class="homepagezoom1-text22">
                <span>GeBlod, Nordstan</span>
              </span>
              <span class="homepagezoom1-text24"><span>2,3 km</span></span>
              <div class="homepagezoom1-icon-bloodcentral4">
                <img
                  src="public/playground_assets/ellipse1i337-gzfx-200h.png"
                  alt="Ellipse1I337"
                  class="homepagezoom1-ellipse108"
                />
                <div class="homepagezoom1-frameicondropletoutline4">
                  <img
                    src="public/playground_assets/vectori337-cff.svg"
                    alt="VectorI337"
                    class="homepagezoom1-vector10"
                  />
                </div>
              </div>
              <span class="homepagezoom1-text26">
                <span>Open 07:30 - 17:00</span>
              </span>
            </div>
            <div class="homepagezoom1-positionitem4">
              <img
                src="public/playground_assets/framei337-gql-200h.png"
                alt="FrameI337"
                class="homepagezoom1-frame4"
              />
              <span class="homepagezoom1-text28">
                <span>GeBlod, Nordstan</span>
              </span>
              <span class="homepagezoom1-text30"><span>2,3 km</span></span>
              <div class="homepagezoom1-icon-bloodcentral5">
                <img
                  src="public/playground_assets/ellipse1i337-mwrr-200h.png"
                  alt="Ellipse1I337"
                  class="homepagezoom1-ellipse109"
                />
                <div class="homepagezoom1-frameicondropletoutline5">
                  <img
                    src="public/playground_assets/vectori337-j90f.svg"
                    alt="VectorI337"
                    class="homepagezoom1-vector11"
                  />
                </div>
              </div>
              <span class="homepagezoom1-text32">
                <span>Open 07:30 - 17:00</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
